body {
    font-family: 'Helvetica Neue';
}

ul {
    list-style: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.languages {
    list-style: none;
    display: flex;
    justify-content: center;
}
.languages li {
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

.repo-container {
    width: 90%;
    margin: 0 auto;
}

.repo-container ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.repo-container li {
    margin: 1em;
    padding: 1em;
}

.nav-container {
    display: flex;
}
.nav-container li {
    margin: 10px;
    padding: 10px;
}
img {
    width: 100px;
    height: 100px;
    border-radius: 30%;
}